:root {
    --linkColor: red;
    font-size: large;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 600px;
}

body, html, nav ul {
    margin: 0;
    padding: 0;
}

.bg {
    background-color: rgb(255,246,217);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header, main, footer {
    text-align: center;
    border: 1px solid red;
}

header {
    flex: 1;

}

main {
    display: flex;
    flex-direction: row;
    flex: 8;
    text-align: left;
}

footer {
    padding-top: 1rem;
    max-height: 2rem;
    flex: 1;
}

main div:nth-child(2) {
    border: 1px solid blue;
    flex: 6;
    padding: 0 2rem;
    max-width: 1024px;
    overflow-wrap: break-word;
}

main div:first-child, main div:last-child {
    flex: 1;
}


/* \/ Navigation \/ */
nav {
    list-style: none;
    display: flex;
    background-color: black;
}

nav a {
    flex: 1;
    text-align: center;
    justify-content: center;
    margin: 0.1rem 0;
    padding: 1rem 0;
    text-decoration: none;
}

a:link {
    color: var(--linkColor);
}

a:visited {
    color: var(--linkColor);
}

a:hover {
    color: lightcoral;
    background-color: gray;
}
/* /\ Navigation /\ */