html {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0 15px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    background-color: rgba(27,38,50,0.7);
    color: rgba(214,221,224,1);

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.bg {
    background-color: rgb(255,246,217);
    background-image: url(backpacking/downhill.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wbg {
    background-color: rgba(208,218,208,0.6);
    max-width: 1024px;
    width: 1024px;
    margin: 0 auto;
}

.darktext {
    color: rgba(33,54,49,1);
}

.overlay, .background {
    min-width: 100%;
    min-height: 100%;
}

footer, nav ul {
    max-width: 1024px;
    margin: 0 auto;
    color: rgba(137,165,128,1);
    text-align: center;
    padding: 10px;
    background-color: rgba(33,54,49,1);
}

nav ul li {
    display: inline;
    margin: 0 1rem;
    background-color: rgba(33,54,49,1);
    padding: 0 20px;
}

a {
    color: rgba(32,70,32,1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgba(35,94,35,1);
}

nav a {
    text-decoration: none;
    color: rgba(137,165,128,1);
    padding: 11px;
}

/*nav a:link {}

nav a:visited {}*/

nav a:hover {
    color: white;
    border-bottom: black solid 1px;
}

/*nav a:active {}*/

main {
    flex: 1;
}

.center {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

main div div {
    white-space: normal;
    width: 55%;
    max-width: 950px;
}

.top-center {
    left: 50%;
    position: absolute;
    top: 20%;
    transform: translate(-50%, -80%);
    text-align: center;
}

.hidden {
    opacity: 0;
}

.projectDisplay {
    padding: 2rem 5rem;
    display: inline-block;
    background-color: rgba(154, 189, 165, .5);
    max-width: 950px;
}

.about {
    line-height: 2rem;
}